git+https://github.com/AtrCheema/AI4Water.git@c8faa13c57ea8117621faccea2bfccfbed42a5bd
git+https://github.com/Sara-Iftikhar/easy_mpl.git@a76336b44c46980544d23e59093941c6572638a9
matplotlib
tensorflow==2.7.0
keras==2.6.0
h5py==3.1.0
scikit-learn==1.0.2
scikit-optimize==0.9.0
seaborn==0.12.1

openpyxl==3.0.10

pandas
numpy
matplotlib
sphinx
sphinx-prompt
sphinx_copybutton
sphinx_toggleprompt
sphinx_rtd_theme
sphinx-gallery
sphinx_issues
scipy